.menu_list{
    max-width: 1200px;
    margin: auto;
}
.menu_list .category{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 80px;
}
.menu_list .list{
    font-size: 27px;
    font-weight: 800;
    cursor: pointer;
    white-space: nowrap;
}

.menu_list .list span{
    position: relative;
}
.menu_list .list span::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 5px;
    background-color: #ea0029;
    border-radius: 20px;
}
.menu_list .list span:hover::after{
    transition: all .5s;
    width: 100%;
}
.list_active span::after{
    width: 100% !important;
}
.menu_list .list_box{
    display: flex;
    flex-wrap: wrap;
}
/* 반응형 */
@media screen and (max-width: 830px) {
    .menu_list .list{
        font-size: 20px;
    }
}
@media screen and (max-width: 610px) {
    .menu_list .list{
        font-size: 16px;
    }
}
@media screen and (max-width: 495px) {
    .menu_list .list{
        font-size: 12px;
    }
}